%h1 Edit #{@gallery.name} Gallery

= render 'form'

%hr

.clearfix
  %h2.pull-left Paintings
  = link_to "Add Painting", new_gallery_painting_path(@gallery), :class => "btn btn-success pull-right btn-large", :remote => true, :id => "add-image"
%ul.paintings.unstyled
  - @gallery.paintings.each do |painting|
    %li.clearfix
      %h4=painting.name
      %ul.unstyled
        - painting.images.each do |image|
          %li.pull-left.span3
            = image_tag(image.asset.url(:small))
    %hr
