%h1 Create new Gallery

= form_for @gallery, :html => {:class => ""} do |f|
  .control-group
    = f.label :name, :class => "control-label"
  .input-append
    = f.text_field :name, :class => "input-xlarge"
    = f.submit :class => "btn"