/*General styles not to be confused with bootstrap */

.brand {
  background: #eee;
  text-align: center;
  font-size: 64px;
  color: #242415;
  display:inline-block;
  padding: 0 15px;
  &:hover{
    text-decoration: none;
    color: #252516;
  }
}

.bio-snippet {
  margin-top: 10px;
  margin-left: 20px;
}

.sidebar-nav{
  ul {
    font-size: 18px;
    margin-left: 20px;
    li {
      padding: 5px 0;
      line-height: 1.5;
    }
  }
  .bio-hs {
    margin-top: 20px;
    margin-left:20px;
  }
}




